/**
 * Alert spec, see https://material.google.com/components/snackbars-toasts.html#snackbars-toasts-specs
 */
.alert {
	transition-property: opacity, bottom, left, right, width, margin, border-radius;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	font-size: 14px;
	min-height: 14px;
	background-color: #323232;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	line-height: 22px;
	padding: 18px 24px;
	bottom: 0px;
	z-index: 9999;
}

@media (min-width: 640px) {
	.alert {
	/*
	Desktop:
		Single-line snackbar height: 48 dp tall
		Minimum width: 288 dp
		Maximum width: 568 dp
		2 dp rounded corner
		Text: Roboto Regular 14 sp
		Action button: Roboto Medium 14 sp, all-caps text
		Default background fill: #323232 100%
	  */

	  min-width: 288px;
	  max-width: 568px;
	  display: inline-flex;
	  border-radius: 2px;
	  margin: 24px;
	}
}

@media (max-width: 640px) {
	.alert {
		/*
		Mobile:
			Single-line snackbar height: 48 dp
			Multi-line snackbar height: 80 dp
			Text: Roboto Regular 14 sp
			Action button: Roboto Medium 14 sp, all-caps text
			Default background fill: #323232 100%
		*/
		left: 0px;
		right: 0px;
	}
}

.alert .action {
	background: inherit;
	display: inline-block;
	border: none;
	font-size: inherit;
	text-transform: uppercase;
	margin: 0px 0px 0px 24px;
	padding: 0px;
	min-width: min-content;

	&:hover {
		color: inherit;
	}
}

.is-primary .action {
	color: $primary;
}

.is-info .action {
	color: $info;
}

.is-success .action {
	color: $success;
}

.is-warning .action {
	color: $warning;
}

.is-danger .action {
	color: $danger;
}