#container {
	// Hide anything offscreen
	overflow: hidden;
}

#content-container {
	@include position(absolute, 0 0 0 0);
	@include transition($sidebar-transition);
	@include transform(translate3d(0, 0, 0));

	.menu-open & {
		@include transform(translate3d($sidebar-width, 0, 0));
	}
}

// Transparent screen to prevent interactions on content when menu is open
.content-overlay {
	@include position(absolute, 0 0 0 0);
	@include transition($sidebar-transition);

	cursor: pointer;

	.menu-open & {
		@include transform(translate3d($sidebar-width, 0, 0));

		// Place the overlay on the top
		z-index: 1;
	}
}

#content {
	padding-top: 50px;

	.hero {
		margin-top: -50px;
	}
}

.auth-alt {
	@extend .has-text-centered;

	margin-top: 10px;
}