.custom-nav {
	@include position(fixed);

	width: 100%;

	.hamburger span,
	.nav-toggle span {
		@include background(#fff);
	}

	.hamburger:hover {
		@include background(transparent);

		span {
			@include background($blue);
		}
	}

	.button {
		@include background(transparent);

		&:hover {
			@include border-color($blue);
		}
	}

	.nav-item a, a.nav-item {
		color: #fff;

		&:hover {
			color: $blue;
		}
	}
}

.nav {
	.nav-right {
		@include align-items(stretch);
		@include flex(1);
		@include justify-content(flex-end);

		overflow: hidden;
		overflow-x: auto;
		white-space: nowrap;
	}
}