#sidebar {
	@include position(absolute, 0 0 0 (-$sidebar-width));
	@include transition($sidebar-transition);
	@include background(#111);

	padding: 20px 10px 50px;
	width: $sidebar-width;
	height: 100%;
	max-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1;

	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	.menu-open & {
		@include transform(translate3d($sidebar-width, 0, 0));
	}
}